@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spinner 0.8s linear infinite;
  border: 2px solid white;
  border-right-color: transparent;
  border-radius: 100%;
  /* display: inline-block; */
  overflow: hidden;
  text-indent: -9999px;
  width: 14px;
  height: 14px;
  position: relative;
  float: right;
  right: 20px;
}
